<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Holiday - free CSS template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% load static %}
<link href="{% static "templatemo_style.css"%}" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<div id="templatemo_top_wrapper">
    <div id="templatemo_top">
        <div id="templatemo_header">
            
            <div id="site_title"><h1><a href="#">Free CSS Templates</a></h1></div>
            
        </div> <!-- end of header -->
        <div id="templatemo_middle">
            <div id="templatemo_menu">
                <ul>
                    <li><a href="#" class="current">Home</a></li>
                    <li><a href="#">Templates</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                
                <div id="search_box">
                    <form action="#" method="post">
                        <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                        <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                    </form>
                </div>
                <div class="cleaner"></div>
            </div> <!-- end of templatemo_menu -->
           

        </div> <!-- end of middle -->
        {%block body%}
        {%endblock body%}
    </div> <!-- end of top -->
</div> <!-- end of top wrapper -->


            
            <div class="cleaner h20"></div>
            
            <div align="center">
                Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
            </div>
        </div>
    </div> <!-- end of footer wrapper -->
</div> <!-- end of footer wrapper 01 -->
<!-- templatemo 270 holiday -->
<!-- 
Holiday Template 
http://www.templatemo.com/preview/templatemo_270_holiday 
-->
</body>
</html>