{%extends 'plantilla.html'%}
{%block body%}
<div class="container">
<form method="POST">{%csrf_token%}
	{{f}}
	{{fc}}
	<button type="submit" class="btn btn-danger" >Guardar</button>
</form>


</div>
{%endblock body%}


