{%extends 'plantilla.html'%}
{%block body%}
sasaasasas
modificar{{dni}}

<br>
{{cliente}}
<h1>MODIFICAR DE CLIENTES</h1>
<form method="POST">{%csrf_token%}
	{{formulario.as_p}}
	<button type="submit" >	Modificar</button>
	<button type="submit" >Eliminar</button>
</form>
<form method="POST">{%csrf_token%}
	\
	<p>Nombres</p><input type="text" name="nombre" value="{{cliente.nombres}}">
	<p>Apellidos</p><input type="text" name="nombre" value="{{cliente.apellidos}}">
	<p>Celular</p><input type="text" name="nombre" value="{{cliente.celular}}">
	<p>Cedula</p><input type="text" name="cedula" value="{{cliente.cedula}}">
</form>

////////////
{%endblock body%}

