<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="google" value="notranslate">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style type="text/css">
    body {
  background-image: url("https://images.unsplash.com/photo-1536928994169-e339332d0b4e?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}
</style>
<title>Bienvenidos</title>
</head>

<body >


{%block body%}
{%endblock body%}

</div>
</div>



<footer>
<p>&copy;Santiago Tuqueres</p>
</footer>
</div> <!-- /container -->


</body>
</html>


