{%extends 'plantilla.html'%}
{%block body%}

<a href="crear_cliente"a>Nuevo Cliente </a>
<div class="p-3 mb-2 bg-transparent text-dark">
<div class="container">
<h1>LISTA DE CLIENTES</h1>
<table class="table table-sm">
    <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Nombres</th>
        <th scope="col">Celular</th>
        <th scope="col">Cuentas</th>
    </tr>
    {% for c in lista%} 
        <tr>
            <td><a href="modificar_cliente/?cedula={{c.cedula}}">{{c.cedula}} </a></td>
            
            <td>{{c.apellidos}}</td>
            <td>{{c.nombres}}</td>
            <td>{{c.celular}}</td>
            <td><a href="eliminar_cliente/?cedula={{c.cedula}}">eliminar</a></td>
                <td><a href="listar_cuenta/?cedula={{c.cedula}}">ver</a></td>
                <td><a href="crear_cuenta/?cedula={{c.cedula}}">crear cuenta</a></td>
        </tr>
        
    {%endfor%}

</table>

</table>
{%endblock body%}

