{%extends 'plantilla.html'%}
{%block body%}
retiro
Nro Cuenta{{cuenta.numero}}


<br>
Saldo  {{cuenta.saldo}}
<br>
cliente  {{cliente.nombres}}
<div class="container">
<form method="POST">{%csrf_token%}
	{{f.as_p}}
	
	<button type="submit" class="btn btn-danger" >Guardar</button>
</form>


</div>
{%endblock body%}