{%extends 'plantilla.html'%}
{%block body%}

<a href="crear_cliente"a>Nuevo Cliente </a>
<div class="p-3 mb-2 bg-transparent text-dark">
<div class="container">
<h1>LISTA DE CLIENTES</h1>
<table class="table table-sm">
    <tr>
        <th scope="col">Numer</th>
        <th scope="col">tipo</th>
        <th scope="col">saldo</th>
        <th scope="col">deposito</th>
        <th scope="col">retiro</th>
        
    </tr>
    {% for c in lista_c%} 
        <tr>
            
            
            <td>{{c.numero}}</td>
            <td>{{c.tipoCuenta}}</td>
            <td>{{c.saldo}}</td>
            <td><a href="eliminar_cliente/?numero={{c.cedula}}">eliminar</a></td>
            <td><a href="{%url 'deposito' numero=c.numero %}">deposito</a></td>
            <td><a href="{%url 'retiro' numero=c.numero %}">retiro</a></td>
                
        </tr>
        
    {%endfor%}

</table>

</table>
{%endblock body%}

