sasaasasas
modificar{{dni}}

<br>
{{cuenta}}
<h1>MODIFICAR DE CLIENTES</h1>
<form method="POST">{%csrf_token%}
	{{formulario_cuenta.as_p}}
	<button type="submit" >	Modificar</button>
	<button type="submit" >Eliminar</button>
</form>
<form method="POST">{%csrf_token%}
	\
	<p>Numero</p><input type="text" name="numero" value="{{cuenta.numero}}">
	
</form>

////////////